.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: 54px;
	padding: 0 41px;
	background-color: var(--white);
	border: none;
	border-radius: 27px;
	color: var(--primary);
	font-family: var(--Roboto);
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.2s;

	&__icon {
		flex-shrink: 0;
		width: 25px;
		height: 25px;
		margin-right: 15px;
	}

	&_color {
		&_primary {
			background-color: var(--primary);
			color: var(--white);
		}
	}

	&_shadow {
		box-shadow: 0px 4px 10px var(--black-a-10);

		&:active {
			box-shadow: none;
		}
	}
}
