.data-catalog-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
	margin-bottom: 52px;

	&__item {
		grid-column: span 1;
	}

	.data-catalog-item {
		height: 100%;
	}
}

@media (max-width: 1079px) {
	.data-catalog-list {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 599px) {
	.data-catalog-list {
		grid-template-columns: 1fr;
	}
}
