.extended-search-block {
	margin-top: 71px;
	margin-bottom: 23px;

	&__inner {
		display: flex;
		flex-wrap: wrap;
	}

	&__input.input {
		align-self: flex-start;
		max-width: 402px;
	}

	&__link {
		margin-bottom: 30px;
		margin-left: 19px;

		&:hover {
			text-decoration: underline;
		}
	}

	&__button {
		margin-bottom: 30px;
		margin-left: auto;
	}

	&__filters {
		flex-basis: 100%;
	}

	.order-data-button {
		display: none;
	}
}

@media (max-width: 1079px) {
	.extended-search-block {
		&__input.input {
			max-width: 100%;
			margin-bottom: 30px;
		}
	}
}

@media (max-width: 599px) {
	.extended-search-block {
		&__link {
			margin-left: auto;
		}

		&__button {
			display: none;
		}

		.order-data-button {
			display: inline-flex;
			position: fixed;
			right: 16px;
			bottom: 30px;
			z-index: 5;
		}
	}
}
