.file-selector {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	.button {
		margin-right: 10px;
		margin-bottom: 10px;
	}

	&__filename {
		margin-bottom: 10px;
		color: var(--gray-400);
	}
}
