.geoservices-list {
	&__inner {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 9px 7px;
	}

	&__item {
		grid-column: span 1;
		grid-row: span 1;
	}

	.geoservice {
		height: 100%;
	}

	&__show-all-button {
		display: none;
		margin-top: 30px;
		margin-right: auto;
		margin-left: auto;
	}

	&_opened {
		.geoservices-list__item {
			&:nth-child(n + 4) {
				display: block;
			}
		}
	}
}

@media (max-width: 1079px) {
	.geoservices-list {
		&__inner {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

@media (max-width: 779px) {
	.geoservices-list {
		&__inner {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media (max-width: 599px) {
	.geoservices-list {
		margin-right: 23px;
		margin-left: 23px;

		&__inner {
			grid-template-columns: 1fr;
		}

		&__item {
			&:nth-child(n + 4) {
				display: none;
			}
		}

		&__show-all-button {
			display: inline-flex;
		}

		&_opened {
			.geoservices-list__show-all-button {
				display: none;
			}
		}
	}
}
