.heading {
	display: block;
	margin-top: 0;
	font-weight: bold;

	&_level {
		&_1 {
			margin-bottom: 22px;
			font-size: 36px;
			line-height: 1.14;
		}

		&_2 {
			font-size: 18px;
			line-height: 1.17;
		}

		&_3 {
			margin-bottom: 8px;
			font-size: 14px;
			line-height: 1.14;
		}
	}

	&_color {
		&_white {
			color: var(--white);
		}
	}
}

@media (max-width: 1079px) {
	.heading {
		&_level {
			&_1 {
				font-size: 28px;
			}

			// &_2 {
			// 	font-size: 30px;
			// }
		}
	}
}

@media (max-width: 540px) {
	.heading {
		&_level {
			&_1 {
				font-size: 20px;
			}

			// &_2 {
			// 	font-size: 24px;
			// }
		}
	}
}
