.header {
	position: sticky;
	top: 0;
	background-color: var(--gray-100);
	z-index: 20;

	&__inner {
		display: grid;
		grid-template-columns: max-content 1fr min-content;
		align-items: center;
		column-gap: 10px;
		padding-top: 10px;
		padding-bottom: 16px;
	}

	.main-menu {
		justify-self: end;
	}

	.icon-button {
		display: none;
	}
}

@media (max-width: 779px) {
	.header {
		&__inner {
			grid-template-columns: 1fr min-content;
			justify-content: space-between;
			row-gap: 10px;
		}

		.main-menu {
			display: none;
			grid-column: 1 / -1;
			grid-row: 2 / 3;
			justify-self: start;
		}

		.icon-button {
			display: inline-flex;
		}

		&_opened {
			.logo {
				z-index: 11;
			}
			.header__burger-button {
				z-index: 11;
			}

			.main-menu {
				display: flex;
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				padding-top: 98px;
				background-color: var(--white);

				&__item {
					width: 600px;
					margin-right: auto;
					margin-left: auto;
					padding-right: 16px;
					padding-left: 16px;
				}
			}
		}
	}
}

@media (max-width: 599px) {
	.header {
		&_opened {
			.main-menu__item {
				width: 100%;
			}
		}
	}
}
