.hero-swiper {
	margin-bottom: 60px;

	&__inner {
		position: relative;
		height: 505px;

		& > .container {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%);
			z-index: 2;
		}
	}

	div.swiper-pagination {
		bottom: 44px;
	}

	span.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		margin: 0 5px;
		background: var(--white);
		opacity: 0.5;
	}

	span.swiper-pagination-bullet-active {
		opacity: 1;
	}

	.swiper-button-next,
	.swiper-button-prev {
		color: var(--white);
	}

	.swiper-button-next {
		right: 10px;
	}

	.swiper-button-prev {
		left: 10px;
	}
}

@media (max-width: 779px) {
	.hero-swiper {
		&__inner {
			& > .container {
				display: none;
			}
		}
	}
}
