.icon-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: 40px;
	height: 40px;
	padding: 0;
	background-color: var(--primary);
	border: none;
	border-radius: 10px;
	color: var(--white);
	cursor: pointer;
	transition: background-color 0.2s, color 0.2s;

	&__icon {
		flex-shrink: 0;
		width: 15px;
		height: 15px;
	}

	&_color {
		&_primary-light {
			background-color: var(--primary-light);
			color: var(--primary);

			&:hover {
				background-color: var(--primary);
				color: var(--white);
			}
		}

		&_white {
			background-color: var(--white);

			.icon-button__icon {
				color: var(--gray-400);
			}
		}

		&_transparent {
			background-color: transparent;

			.icon-button__icon {
				color: var(--gray-400);
			}

			&:hover {
				background-color: var(--gray-200);
			}

			&:focus {
				outline: none;
				border: 1px solid var(--gray-400);
			}
		}
	}

	&_size {
		&_big {
			width: 50px;
			height: 50px;

			.icon-button__icon {
				width: 20px;
				height: 20px;
			}
		}
	}

	&_circle {
		border-radius: 50%;
	}

	// &:hover,
	// &:focus {
	// 	background-color: var(--hover);
	// }

	// &:active {
	// 	background-color: var(--active);
	// }
}
