@import '../mixins/basic-input-styles';
@import '../mixins/input-appearance-reset';

.select {
	@include basic-input-styles($d: grid);
	grid-template-areas: 'select';

	option {
		padding: 0;
	}

	&:hover {
		.select__focus {
			box-shadow: 0 0 0 1px var(--gray-400);
		}

		& .select__select[disabled] {
			& ~ .select__focus {
				box-shadow: none;
			}
		}
	}

	&__select {
		@include input-appearance-reset($pr: 38px);
		grid-area: select;
		align-items: center;

		&::-ms-expand {
			display: none;
		}

		&:focus {
			& ~ .select__focus {
				box-shadow: 0 0 0 1px var(--primary);
			}
		}

		&:disabled {
			& ~ .select__focus {
				background-color: var(--gray-200);
			}

			& ~ .select__arrow {
				filter: grayscale(1);
			}
		}

		&[multiple] {
			padding-right: 0;
			height: 6rem;

			option {
				white-space: normal;
				outline-color: var(--primary);
			}
		}
	}

	&__arrow {
		grid-area: select;
		align-self: center;
		justify-self: end;
		width: 0.8em;
		height: 0.5em;
		margin-right: 14px;
		background-color: var(--primary);
		clip-path: polygon(100% 0%, 0 0%, 50% 100%);
		z-index: 1;
	}
}
