.user-content {
	h1 {
		margin-bottom: 22px;
		font-size: 36px;
		line-height: 1.14;
	}

	h2 {
		margin-bottom: 12px;
		font-size: 18px;
		line-height: 1.17;
	}

	p {
		margin-top: 0;
		margin-bottom: 15px;
	}
}
