mixin data-catalog-block(props = {})
  include data-catalog-list
  include button

  section.data-catalog-block&attributes(attributes)
    .container
      .data-catalog-block__inner
        +data-catalog-list({
          items: [
            {
              iconId: 'pin',
              heading: 'Административно-территориальное деление',
              blocks: [
                {
                  heading: 'Границы КО',
                  text: 'Калужская область расположена в центральной части Восточно...',
                },
                {
                  heading: 'Границы МР',
                  text: 'В Калужской области 24 района, 2 городских округа, 26 городскихи 259 сельских поселений....',
                },
              ]
            },
            {
              iconId: 'cow',
              heading: 'Сельское хозяйство территории',
              blocks: [
                {
                  heading: 'Границы с/х угодий',
                  text: 'Посевная площадь сельхоз угодий в Калужской области...',
                },
                {
                  heading: 'Границы хозяйств',
                  text: 'В сельском хозяйстве области преобладает молочное животноводство, свиноводство...',
                },
              ]
            },
            {
              iconId: 'growth',
              heading: 'Экология и окружающая среда',
              blocks: [
                {
                  heading: 'Объекты культурного наследия',
                  text: 'К объектам культурного наследия (памятникам истории...',
                },
                {
                  heading: 'Несанкционированные свалки мусора',
                  text: 'Несанкционированное складирование бытовых и...',
                },
              ]
            },
            {
              iconId: 'users',
              heading: 'Социальная сфера',
              blocks: [
                {
                  heading: 'Остановки общественного транспорта',
                  text: 'Специально отведённые общественные места...',
                },
                {
                  heading: 'МФЦ',
                  text: 'Многофункциональный центр предоставления государственных',
                },
              ]
            },
            {
              iconId: 'school',
              heading: 'Проекты Городской Управы города Калуги',
              blocks: [
                {
                  heading: 'Туристские маршруты г. Калуги',
                  text: 'Калужская область расположена в центральной части Восточно...',
                },
                {
                  heading: 'Карта посадки деревьев',
                  text: 'В Калужской области 24 района, 2 городских округа, 26 городскихи 259 сельских поселений....',
                },
              ]
            },
            {
              iconId: 'russia',
              heading: 'Объекты в распоряжении органов власти',
              blocks: [
                {
                  heading: 'Центры занятости',
                  text: 'Местные отделения службы занятости, непосредственно...',
                },
                {
                  heading: 'Образовательные учреждения',
                  text: 'Осуществляющие обучение, и индивидуальные предприниматели, осуществляющие...',
                },
              ]
            },
          ]
        })
        .d_flex
          +button({tag: 'a', text: 'Все данные '})(href="#" class="button_shadow button_centered")
