mixin footer(props = {})

  .footer&attributes(attributes)
    .container
      .footer__inner
        span ГБУ КО «Агентство информационных технологий Калужской области» (ГБУ КО «Калугаинформтех»)
        span © 2020
