mixin geoservices-list(props = {})
  include geoservice

  - const { items } = props;

  .container
    ul.geoservices-list&attributes(attributes)
      each item in items
        li.geoservices-list__item
          +geoservice(item)
