mixin geoservices-list(props = {})
  include geoservice

  - const { items } = props;

  section.geoservices-list
    .container
      ul.geoservices-list__inner&attributes(attributes)
        each item in items
          li.geoservices-list__item
            +geoservice(item)
