mixin geoservices-list(props = {})
  include geoservice
  include button

  - const { items } = props;

  section.geoservices-list
    .container
      ul.geoservices-list__inner&attributes(attributes)
        each item in items
          li.geoservices-list__item
            +geoservice(item)
      .d_flex
        +button({text: 'Показать все'})(class="geoservices-list__show-all-button" type="button")
