mixin header(props = {})
  include logo
  include main-menu
  include icon-button

  .header&attributes(attributes)
    .container
      .header__inner
        +logo
        +main-menu({
          items: [
            {
              text: 'О проекте',
              href: './about-project.html'
            },
            {
              text: 'Каталог данных',
              href: './data-catalog.html'
            },
            {
              text: 'Контакты',
              href: './contacts.html'
            },
          ]
        })
        +icon-button({iconId: 'burger'})(type="button" class="icon-button_color_white icon-button_circle icon-button_shadow icon-button_size_big header__burger-button")
