mixin logo(props = {})

  a(href="#").logo&attributes(attributes)
    img.logo__img(src="assets/img/logo.png" alt="Геопортал Калужской области" width="69" height="57")
    span.logo__tagline
      |Геопортал
      br
      |Калужской области
