mixin main-menu(props = {})
  include link
  include button

  - const { items } = props;

  ul.main-menu&attributes(attributes)
    each item in items
      li.main-menu__item
        +link(item)
    li.main-menu__item
      +button({tag: 'a', text: 'Войти'})(class="button_shadow")
