mixin schedule(props = {})

  .schedule&attributes(attributes)
    span понедельник - четверг
    span с 8.00 до 17.15
    span пятница
    span с 8.00 до 16.00
    span перерыв
    span с 13.00 до 14.00
    span суббота - воскресенье
    span выходные дни
