extends ../components/page
include ../components/hero-swiper
include ../components/section-card
include ../components/disclaimer

block head
  title О проекте

block content
  +hero-swiper
  +section-card({heading: 'О проекте', imgUrl: 'assets/img/city.png'})(class="section-card_hide-image")
    .user-content
      p Геоинформационный портал Калужской области - набор электронных картографических сервисов, обеспечивающих открытый доступ заинтересованным пользователям к массиву пространственных данных нашего региона посредством глобальной сети Интернет.'
      p Геоинформационные ресурсы портала представляют собой значительные по объему наборы географических данных с атрибутивным описанием, включая каталог метаданных. Основная его цель – предоставление доступа к цифровым картам территорий региона всем заинтересованным пользователям сети Интернет.
      p В первую очередь, Геопортал ориентирован на информационное обеспечение основных направлений хозяйственной деятельности региона для решения широкого комплекса отраслевых задач министерств и ведомств Калужской области.
    +disclaimer({
      text: 'При использовании материалов портала ссылка на источник обязательна.'
    })
