extends ../components/page
include ../components/hero-swiper
include ../components/section-card
include ../components/disclaimer
include ../components/icon-link
include ../components/schedule

block head
  title Контакты

block content
  +hero-swiper
  +section-card({heading: 'Контакты', imgUrl: 'assets/img/city.jpg'})
    .user-content
      p ГБУ КО «Агентство информационных технологий Калужской области” г. Калуга, ул. Гагарина, д. 1 (последний этаж, вход рядом с кафе быстрого питания KFC)

      p По вопросам работы портала обращайтесь по адресу:
      +icon-link({
        iconId: 'mail',
        text: 'portal@giskaluga.ru'
      })(href="mailto:portal@giskaluga.ru")
      br
      br
      p
        +icon-link({
          iconId: 'mail',
          text: '+7 (4842) 79 00 69'
        })(href="74842790069")
        br
        +icon-link({
          iconId: 'mail',
          text: '+7 (4842) 54 76 54'
        })(href="74842547654")
        h2 График работы
        +schedule
