extends ../components/page
include ../components/extended-search-block
include ../components/data-catalog-block

block head
  title Каталог данных

block content
  +extended-search-block
  +data-catalog-block
