extends ../components/page
include ../components/hero-swiper
include ../components/heading
include ../components/search-block
include ../components/geoservices-list

block head
  title Главная страница

block content
  main
    +hero-swiper
    +search-block
    +geoservices-list({
      items: [
        {
          imgUrl: 'assets/img/geoservice-1.jpg',
          name: 'Несанкционированные городские свалки',
          tagline: 'город калуга',
        },
        {
          imgUrl: 'assets/img/geoservice-1.jpg',
          name: 'Несанкционированные городские свалки',
          tagline: 'город калуга',
        },
        {
          imgUrl: 'assets/img/geoservice-1.jpg',
          name: 'Несанкционированные городские свалки',
          tagline: 'город калуга',
        },
        {
          imgUrl: 'assets/img/geoservice-1.jpg',
          name: 'Несанкционированные городские свалки',
          tagline: 'город калуга',
        },
        {
          imgUrl: 'assets/img/geoservice-1.jpg',
          name: 'Несанкционированные городские свалки',
          tagline: 'город калуга',
        },
        {
          imgUrl: 'assets/img/geoservice-1.jpg',
          name: 'Несанкционированные городские свалки',
          tagline: 'город калуга',
        },
        {
          imgUrl: 'assets/img/geoservice-1.jpg',
          name: 'Несанкционированные городские свалки',
          tagline: 'город калуга',
        },
        {
          imgUrl: 'assets/img/geoservice-1.jpg',
          name: 'Несанкционированные городские свалки',
          tagline: 'город калуга',
        },
        {
          imgUrl: 'assets/img/geoservice-1.jpg',
          name: 'Несанкционированные городские свалки',
          tagline: 'город калуга',
        },
        {
          imgUrl: 'assets/img/geoservice-1.jpg',
          name: 'Несанкционированные городские свалки',
          tagline: 'город калуга',
        },
        {
          imgUrl: 'assets/img/geoservice-1.jpg',
          name: 'Несанкционированные городские свалки',
          tagline: 'город калуга',
        },
        {
          imgUrl: 'assets/img/geoservice-1.jpg',
          name: 'Несанкционированные городские свалки',
          tagline: 'город калуга',
        },
        {
          imgUrl: 'assets/img/geoservice-1.jpg',
          name: 'Несанкционированные городские свалки',
          tagline: 'город калуга',
        },
        {
          imgUrl: 'assets/img/geoservice-1.jpg',
          name: 'Несанкционированные городские свалки',
          tagline: 'город калуга',
        },
        {
          imgUrl: 'assets/img/geoservice-1.jpg',
          name: 'Несанкционированные городские свалки',
          tagline: 'город калуга',
        },
        {
          imgUrl: 'assets/img/geoservice-1.jpg',
          name: 'Несанкционированные городские свалки',
          tagline: 'город калуга',
        },
      ]
    })
