extends ../components/page
include ../components/hero-swiper
include ../components/heading
include ../components/select
include ../components/input
include ../components/switch
include ../components/order-data-form

block head
  title Заказать данные

block content
  main
    +hero-swiper
    +order-data-form
