.container {
	position: relative;
	width: 1400px; // width: 1330px;
	margin: 0 auto;
	padding: 0 60px;
}

@media (max-width: 1399px) {
	// @media (max-width: 1329px)
	.container {
		width: 1080px; // => width: 1000px;
	}
}

@media (max-width: 1079px) {
	// => @media (max-width: 999px)
	.container {
		width: 780px; // width: 700px;
	}
}

@media (max-width: 779px) {
	// @media (max-width: 699px)
	.container {
		width: 600px; // width: 540px;
		padding: 0 16px;
	}
}

@media (max-width: 599px) {
	// @media (max-width: 580px)
	.container {
		width: 100%;
	}
}
