.container {
	position: relative;
	width: 1330px;
	margin: 0 auto;
	padding: 0 20px;
}

@media (max-width: 1329px) {
	.container {
		width: 1000px;
	}
}

@media (max-width: 999px) {
	.container {
		width: 700px;
	}
}

@media (max-width: 699px) {
	.container {
		width: 540px;
	}
}

@media (max-width: 580px) {
	.container {
		width: 100%;
	}
}
