:root {
	--white: #ffffff;
	--black: #000000;
	--black-a-10: rgba(0, 0, 0, 0.1);
	--black-a-5: rgba(0, 0, 0, 0.05);

	--primary: #34a853;
	// --primary-dark: #024788;
	--primary-light: #e1f0e5;
	--red: #ff3c00;
	// --hover: #3ea0fe;
	// --active: #006ed8;

	--gray-100: #f4f5f9;
	--gray-200: #e9e9e9;
	--gray-400: #7b7e8d;
	// --gray-500: #707070;
	// --gray-600: #576067;
	// --gray-700: #393c41;
	--gray-800: #4f4f4f;
	--gray-900: #22252f;

	// --gray-900-a88: rgba(40, 49, 56, 0.88);
	// --gray-600-a50: rgba(87, 96, 103, 0.5);

	--Roboto: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
